body{
    background-image:url('https://images.unsplash.com/photo-1451187580459-43490279c0fa?w=2000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjN8fG1hcHxlbnwwfHwwfHx8MA%3D%3D');
    image;

h1{
color:black;
}



a:link, a:visited {
  background-color: #296d694b;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;


}
a:hover{
 color: #a7ffbd;
 border: 2px solid rgb(78,163,78);
 margin: -2px; 
 border-radius: 25px 25px;
    
}

  p{
    color: white;
  }
#map {
    height: 750px;
    width: 60%;
    border-radius: 50px 50px;
}

#openChatContainer{
 
}
#button-container{
display: inline-block;
}
